*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  color: #f6f6f6;
  user-select: none;
  cursor: default;
}

body{
  background-color: #3A4345;
}

.App{
  height: 100vh;
  width: 100vw;
}

.Header{
  padding: 8px;
  text-align: center;
  background-color: #2C3335;;
}

.Hero{
  padding-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Hero>div>h2{
  color: #F3D259;
}

.Hero>*{
  padding: 16px;
  border-radius: 8px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.Stack{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #2c3335;
  border-radius: 16px;
  padding: 16px;
  margin: 8vh auto auto auto;
  width: 80vw;
  height: max-content;
}

.stack--word{
  border: 2px solid #F3D259;
  width: fit-content;
  height: fit-content;
  padding: 8px;
  margin: 8px;
}

.Keyboard>input{
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  margin: 24px auto;
  background-color: #2c3335a8;
  border: 1px solid #3A4345;
  border-radius: 8px;
}

.Keyboard>input:focus{
  outline: none;
  border: 1px solid #F3D259;
  background-color: #2c3335;
}

.Keyboard{
  width: max-content;
  height: max-content;
  padding: 32px;
  margin: 64px auto auto auto;
}

.row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.key{
  font-size: 24px;
  text-align: center;
  border-radius: 4px;
  height: auto;
  width: 32px;
  padding: 8px;
  margin: 4px;
  background-color: #2C3335;
  transition: all 0.1s;
}

.wrong-key, #f{
  background-color: #F3D259;
  color: #2C3335;
}

.key-pressed{
  background-color: #68797D;
}



@media only screen and (max-width: 768px){

  .Stack{
    margin: 8vh auto auto auto;
    width: 80vw;
    height: max-content;
  }

  .stack--words{
    padding: 4px;
    margin: 4px;
  }

  .Keyboard{
    width: 80vw;
    padding: 16px;
    margin: 32px auto auto auto;
  }

  .key{
    font-size: 16px;
    width: auto;
    margin: 2px;
    background-color: #2C3335;
  }
}